@namespace=CodeChirp.Core
@namespace=CodeChirp.Controllers
@namespace=Shaml.Web.HtmlHelpers
@type=List<Channel>
@content=Header
  %h2
    List of channels
@content=Main
  %ul.postlist
    - foreach (Channel c in Model)
      %li.post
        .tags
          %a( href='#{Url.Action("Show", "Channels", new { id = c.Id \})}' )
            %kbd
              = c.name
              (by #{c.owner.Comment})
  %div= Html.RenderPagination(ViewData["Pagination"] as PaginationData)
@content=MoreBlocks
  .block
    .blockTop
    .blockMain
      - using(Html.BeginForm("Index","Channels",FormMethod.Get))
        %p Search for channels:
          = Html.TextBox("q",ViewContext.HttpContext.Request.Params.Get("q"))  

