@namespace=CodeChirp.Controllers
@type=CodeChirp.Controllers.BadgesController.BadgeFormViewModel
= Html.ValidationSummary()
- Html.EnableClientValidation();
- using (Html.BeginForm()) 
  = Html.AntiForgeryToken()
  = Html.Hidden("Badge.Id", (Model.Badge != null) ? Model.Badge.Id : 0)
  %ul
    %li
      = Html.LabelFor( x => x.Badge.name )
      %div
        = Html.TextBoxFor( x => x.Badge.name )
        = Html.ValidationMessageFor( x => x.Badge.name )
    %li
      = Html.LabelFor( x => x.Badge.count )
      %div
        = Html.TextBoxFor( x => x.Badge.count )
        = Html.ValidationMessageFor( x => x.Badge.count )
    %li
      = Html.LabelFor( x => x.Badge.rank )
      %div
        = Html.TextBoxFor( x => x.Badge.rank )
        = Html.ValidationMessageFor( x => x.Badge.rank )
    %li
      = Html.LabelFor( x => x.Badge.description )
      %div
        = Html.TextBoxFor( x => x.Badge.description )
        = Html.ValidationMessageFor( x => x.Badge.description )
    %li
      %input( type="submit" name="btnSave" value="Save Badge")/
      %button( name="btnCancel" onClick="window.location.href = '/Badges';") Cancel

