@namespace=CodeChirp.Core
@namespace=CodeChirp.Controllers
@namespace=Shaml.Web.HtmlHelpers
@type=List<Badge>
%div
  %h2 Badges
  - if (ViewContext.TempData["message"] != null)
    %p= ViewContext.TempData["message"]
  %table
    %thead
      %tr
        %th= Html.SwitchOrderLink("name","name")
        %th= Html.SwitchOrderLink("count","count")
        %th= Html.SwitchOrderLink("rank","rank")
        %th= Html.SwitchOrderLink("description","description")
        %th( colspan=3 ) Action
    %tbody
      - foreach (Badge Badge in ViewData.Model)
        %tr
          %td= Badge.name
          %td= Badge.count
          %td= Badge.rank
          %td= Badge.description
          %td
            = Html.ActionLink("Details", "Show", "Badges", new { Id = Badge.Id }, new { })
          %td
            = Html.ActionLink("Edit", "Edit", "Badges", new { Id = Badge.Id }, new { })
          %td
            = Html.ActionLink("Delete", "Delete", "Badges", new { Id = Badge.Id }, new { })
  %p= Html.RenderPagination(ViewData["Pagination"] as PaginationData)
  %p= Html.ActionLink("Create new Badge", "Create", "Badges")
