%ul.mainmenu
  %li= Html.ActionLink("Posts","Index","Posts")
  %li= Html.ActionLink("Tags","Index","Tags")
  %li= Html.ActionLink("Badges","Index","Badges")
  %li= Html.ActionLink("Users","Index","Souls")
  %li= Html.ActionLink("Channels","Index","Channels")
