@namespace=CodeChirp.Core
@type=Post
%div( id='Post#{Model.Id}' )
  %div.site
    %img.siteicon( src="#{Model.sitename.GetIcon()}" )/        
  %div.user
    - if (Model.user != null)
      %img.gravatar( src="http://www.gravatar.com/avatar/#{Model.user.gravatar}?s=32&d=identicon&r=PG" )/
      = Html.ActionLink(Model.user.name,"Show","Souls",new { id = Model.user.Id }, new object { })
      %strong= Model.user.point
    - else
      Unknown user
    = Model.Activity()
  %div.tags
    - foreach (Tag t in Model.tags)
      %a( href='#{Url.Action("Show", "Tags", new { id = t.Id \})}' )
        %kbd
          = t.name
  %div.contents
    = Model.body
  %div.links
    %a( href="#{Model.ToUrl()}" target="newwindow" )
      Read at
      %img( src="#{Model.sitename.GetIcon()}" )/
