@namespace=CodeChirp.Controllers
@type=CodeChirp.Controllers.TagsController.TagFormViewModel
= Html.ValidationSummary()
- Html.EnableClientValidation();
- using (Html.BeginForm()) 
  = Html.AntiForgeryToken()
  = Html.Hidden("Tag.Id", (Model.Tag != null) ? Model.Tag.Id : 0)
  %ul
    %li
      = Html.LabelFor( x => x.Tag.name )
      %div
        = Html.TextBoxFor( x => x.Tag.name )
        = Html.ValidationMessageFor( x => x.Tag.name )
    %li
      %input( type="submit" name="btnSave" value="Save Tag")/
      %button( name="btnCancel" onClick="window.location.href = '/Tags';") Cancel

