@namespace=CodeChirp.Core
@namespace=CodeChirp.Controllers
@namespace=Shaml.Web.HtmlHelpers
@type=List<Tag>
@content=Header
  %h2
    List of tags
@content=Main
  %ul.postlist
    - foreach (Tag t in Model)
      %li.post
        .tags
          %a( href='#{Url.Action("Show", "Tags", new { id = t.Id \})}' )
            %kbd
              %img( src="#{t.site.GetIcon()}" )/
              = t.name
  %div= Html.RenderPagination(ViewData["Pagination"] as PaginationData)
@content=MoreBlocks
  .block
    .blockTop
    .blockMain
      - using(Html.BeginForm("Index","Tags",FormMethod.Get))
        %p Search for tags:
          = Html.TextBox("q",ViewContext.HttpContext.Request.Params.Get("q"))  
      
