@namespace=CodeChirp.Controllers
@type=CodeChirp.Controllers.PostsController.PostFormViewModel
= Html.ValidationSummary()
- Html.EnableClientValidation();
- using (Html.BeginForm()) 
  = Html.AntiForgeryToken()
  = Html.Hidden("Post.Id", (Model.Post != null) ? Model.Post.Id : 0)
  %ul
    %li
      = Html.LabelFor( x => x.Post.type )
      %div
        = Html.TextBoxFor( x => x.Post.type )
        = Html.ValidationMessageFor( x => x.Post.type )
    %li
      = Html.LabelFor( x => x.Post.summary )
      %div
        = Html.TextBoxFor( x => x.Post.summary )
        = Html.ValidationMessageFor( x => x.Post.summary )
    %li
      = Html.LabelFor( x => x.Post.body )
      %div
        = Html.TextBoxFor( x => x.Post.body )
        = Html.ValidationMessageFor( x => x.Post.body )
    %li
      = Html.LabelFor( x => x.Post.community )
      %div
        = Html.TextBoxFor( x => x.Post.community )
        = Html.ValidationMessageFor( x => x.Post.community )
    %li
      = Html.LabelFor( x => x.Post.score )
      %div
        = Html.TextBoxFor( x => x.Post.score )
        = Html.ValidationMessageFor( x => x.Post.score )
    %li
      = Html.LabelFor( x => x.Post.user )
      %div
        = Html.TextBoxFor( x => x.Post.user )
        = Html.ValidationMessageFor( x => x.Post.user )
    %li
      = Html.LabelFor( x => x.Post.lastactivity )
      %div
        = Html.TextBoxFor( x => x.Post.lastactivity )
        = Html.ValidationMessageFor( x => x.Post.lastactivity )
    %li
      = Html.LabelFor( x => x.Post.tags )
      %div
        = Html.TextBoxFor( x => x.Post.tags )
        = Html.ValidationMessageFor( x => x.Post.tags )
    %li
      %input( type="submit" name="btnSave" value="Save Post")/
      %button( name="btnCancel" onClick="window.location.href = '/Posts';") Cancel

